@tailwind base;
@tailwind components;
@tailwind utilities;



.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


  @font-face {
    font-family: 'Cilok';
    src: url('../public/Cilok.otf') format('truetype');
  }

  .Cilok {
    font-family: Cilok;
  }

  @keyframes electricFlicker {
    0% {
      opacity: 1;
      filter: drop-shadow(0 0 10px #fff);
    }
    10% {
      opacity: 0.8;
      filter: drop-shadow(0 0 20px #00f);
    }
    20% {
      opacity: 1;
      filter: drop-shadow(0 0 10px #fff);
    }
    30% {
      opacity: 0.6;
      filter: drop-shadow(0 0 25px #f0f);
    }
    40% {
      opacity: 1;
      filter: drop-shadow(0 0 10px #fff);
    }
    50% {
      opacity: 0.7;
      filter: drop-shadow(0 0 15px #0ff);
    }
    60% {
      opacity: 1;
      filter: drop-shadow(0 0 10px #fff);
    }
    70% {
      opacity: 0.9;
      filter: drop-shadow(0 0 20px #fff);
    }
    80% {
      opacity: 1;
      filter: drop-shadow(0 0 10px #fff);
    }
    90% {
      opacity: 0.85;
      filter: drop-shadow(0 0 15px #fff);
    }
    100% {
      opacity: 1;
      filter: drop-shadow(0 0 10px #fff);
    }
  }
  
  .electricText {
    animation: electricFlicker 2s infinite;
  }




  
  
